<body style="background-color:powderblue;">
<ul>
  <% @bookmarks.each do |bookmark| %>
      <a href= "<%= bookmark.url %> " target="_blank">
      <%= bookmark.title %>
      </a>
      <form action ="/bookmarks/<%= bookmark.id %>" method="POST">
        <input type ="hidden" name="_method" value="DELETE">
        <input type= "hidden" name="id" value="<%= bookmark.id %>">
        <input type ="submit" id="<%=bookmark.title %>" value="Delete">
      </form>
      <form action ="/bookmarks/<%= bookmark.id %>/edit" method="GET">
        <input type= "hidden" name="id" value="<%= bookmark.id %>">
        <input type ="submit" id="Update <%=bookmark.title %>" value="Update">
      </form>
  <% end %>
</ul>

<form action="/" method= "GET">
  <input type="submit" value="BACK to homepage">
</form>
</body>
